


<ul>
  <li><a href="/about">About Us</a>
  <% if (!locals.isAuthenticated) { %>
  <li><a href="/login">Login</a>
  <li><a href="/register">Register</a>
  <% } else { %>
  <li><a href="/logout">Logout</a>
  <li><a href="/users/<%= user.id %>">Profile</a>
  <li><a href="/cities">Cities</a>

  <% } %>
</ul>
