<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-block">
        <div id="map" data-cities="<%= JSON.stringify(cities) %>"></div>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center map-info">
  <div class="col-md-5">
    <div class="card">
      <div class="card-block">
        <div class="box">
          <p>Click on a marker of your choice and check out the 'wanderful' experiences of your fellow travellers!</p>
        </div>
      </div>
    </div>
  </div>
</div>
