<main>
  <div class="container">
    <h1>New City</h1>
    <form method="POST" action="/cities/new">
      <div>
        <label for="name">City Name</label>
        <input type="text" name="name" id="name">
      </div>

      <div>
        <label for="location">Location</label>
        <input type="text" name="location" id="location">
      </div>

      <div>
      <label for="stars">Stars</label>
      <input type="number" name="stars" id="stars">
    </div>

    <%# <div>
      <label for="image">Image</label>
      <input type="text" name="image" id="image">
    </div>%>

      <button>Create</button>
    </form>
  </div>
</main>
