<div class="row justify-content-center new-city">
  <div class="col-md-6 col-xs-12">
    <div class="card">
      <div class="card-block">

        <form method="POST" action="/cities">
          <h2>Create a new City</h2>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" class="form-control">
        </div>

        <div class="form-group">
          <label for="location">Location</label>
          <input type="text" name="location" id="location" class="form-control">
        </div>

        <div class="form-group">
          <input type="number" name="stars" id="stars" placeholder="stars" required class="form-control">
        </div>

          <button class="col-md-12">Create</button>

      </form>

        </div>
      </div>
    </div>
  </div>
