<h1>New</h1>

<form method="POST" action="/cities">
  <div>
    <label for="name">name</label>
    <input type="text" name="name" id="name">
  </div>

  <div>
    <label for="location">Country Name</label>
    <input type="text" name="location" id="location">
  </div>



  <div class="col-sm-10">
    <input type="number" class="form-control" id="stars" name="stars" placeholder="stars" required>
  </div>

  <button>Create</button>
</form>
