

<div class="container-fluid new-city">
  <h1>WANDERFUL</h1>

    <form class="form-horizontal" method="POST" action="/cities/new">
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">City Name</label>
        <div class="col-sm-10">
          <input type="location" class="form-control" id="location" placeholder="Country" required>
        </div>
      </div>
      <div class="form-group">
        <label for="location" class="col-sm-2 control-label">Country</label>
        <div class="col-sm-10">
          <input type="location" class="form-control" id="location" placeholder="location" required>
        </div>
      </div>
      <label for="stars" class="col-sm-2 control-label">Stars</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="stars" placeholder="stars" required>
      </div>

    <button>Add</button>
    </form>
    </div>
