<h1>Edit</h1>

<form method="POST" action="/cities/<%= city.id %>/images" enctype="multipart/form-data">

  <input type="hidden" name="_method" value="PUT">

  <div>
    <label for="filename">username</label>
    <input type="file" name="filename" id="filename" >
  </div>

  <div>
    <label for="caption">caption</label>
    <textarea type="number" name="caption" id="caption" ></textarea>
  </div>

  <button>Update</button>
</form>
