$body-background: #EEEEF5; //background
$body-colour: #AEB0CF;  //nav bar and footer
$brand-primary-colour: #c5e9b8; //title & hover
$brand-secondary: #9B9B9B; //text colour
$brand-third: white; //text colours on the nav & footer

// $font-title:
// $font-subtitle:
// $font-text:
