@import "mixins";
@import "variables";

.login {
@include center;
transform: translate(0%, 30%);
}

.register{
  transform: translateY(0%);
  // m-bottom: 50px;
}

@media only screen and (max-width: 575px) {
  .login {
  @include center;
  transform: translate(0%, 15%);
  }

  .register{
    margin-bottom: 30px;
    // m-bottom: 50px;
  }
}
