.container-fluid {
  margin-bottom: 70px;
}


.container-fluid.login,
.container-fluid.register,
.container-fluid.image,
.container-fluid.edit,
.container-fluid.new-image
 {
  h1 {
    font-size: 130px;
    transform: translate(15%, 125%);
  }
  form {
    // background-color: red;
    width: 70%;
    margin-top: 35%;
    transform: translate(25%, -60%);
    padding: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;

    .btn-insta  {
      width: 80%;
      background-color: pink;
      margin-top: 10px;
      margin-left: 10%;
      padding: 10px;

    }
    .btn-sign  {
      width: 80%;
      padding: 10px;
      background-color: pink;
      top: 30px;
      margin-left: 10%;
    }
  }
}

.container.register,

{
  section{
    margin-top: 50%;
  }

}

h1,
h2,
h3,
{
  text-align: center;
  padding: 5px;
}
.atags {
  text-align: center;
  padding-bottom: 10px;
}

.box {
  background: red;
  // transform: translate(300%, 80%);
  height: 500px;
  width: 20%;
  display: inline-block;
  float:right;
}

.cities{
  margin-top: 100px;
}

.city{
  background: red;
  text-align: center;
  transform: translateY(10%);
  margin-top: 100px;

}
.profile {
    // background: red;
    margin-top: 10%;
    // transform: translate(25%, -60%);
    // padding: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    height: auto;
    width: 70%;
    color: blue;

}


#map {
  width: 70%;
  height: 500px;
  // transform: translate(5%, 30%);
  display:inline-block;

}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 70px;
    background: blue;

  nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        float: right;
        margin-left: 20px;
        line-height: 50px;
        &:last-of-type {
          margin-left: 0;

        }
        a {
          color: white;
          letter-spacing: 1px;
          text-transform: uppercase;
          font-weight: bold;
        }
      }
    }
  }
}


footer {
  background-color: rgba(20, 20, 20, 1);
  padding: 10px 0;
  text-align: center;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
