@import "variables";
@import "mixins";
@import 'login';
@import 'navAndFooter';

body {
  background-color: $body-background;
  @include font-text ;
}
a {
  color: $body-colour;
}
a:hover {
  color: $brand-primary-colour;
}
.ft {

    color: white;

  a:hover {
    color: $body-colour;
  }
}
h2 {
  @include font-subtitle;
}

h1 {
  @include font-title;
}
.card {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border: 1px solid $body-colour;
    margin-bottom: 60px;
}


.container{
 // background-color: green;
 text-align: center;
 margin-bottom: 20px;
 margin-top: 30px;

}

.p-image {
  height: 190px;
}
button {
  background: white;
  color: grey;
  border: 1px solid white;

}

button:hover,
button:active {
  letter-spacing: 5px;
}

button:after,
button:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

button:hover:after,
button:hover:before {
  backface-visibility: hidden;
  border-color: $brand-primary-colour;
  transition: width 350ms ease-in-out;
  width: 70%;
}

button:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

#map {
  width: 90%;
  height: 500px;
  // transform: translate(5%, 30%);
  display:inline-block;

}








//
//
// .container-fluid.login,
// .container-fluid.register,
// .container-fluid.image,
// .container-fluid.edit,
// .container-fluid.new-image,
// .container-fluid.new-city
//  {
//   //  background-color: red;
//   h1 {
//     font-family: 'Pacifico', cursive;
//     font-size: 150px;
//     transform: translate(-5%, 50%);
//     color: #dbe9d8;
//     border: 1px #b0aac2;
//   }
//   img {
//     margin-left: 40%;
//     transform: translate(740%,6%);
//     height: 47px
//   }
//   form {
//     // background-color: red;
//     width: 70%;
//     margin-top: 20%;
//     transform: translate(44%, -50%);
//     padding: 50px;
//     letter-spacing: 1px;
//     border-color:10px, solid, blue;
//
//     text-transform: uppercase;
//     font-weight: bold;
//     font-size: 16px;
//
//     .btn {
//     background-color: #c2d4d8;
//     border: none;
//
//     }
//      .form-control{
//        border-color: green;
//      }
//   }
// }
// .section-register{
//   border: 10px black solid;
// }
//  .container-fluid.register{
//
// transform: translate(-30%,0);
// h1{
//   font-size: 100px;
//     transform: translate(60%,90%);
//
//
// }
// }
// p {
//   color: #dbe9d8;
// }
// a{
//   color: green;
//   style: none;
// }
// a:hover {
//    color: #dbe9d8;
// }
// // h1{
// //   transform: translate(-30%,88%);
// // }
// // section {
// // transform: translate(-37%,28%);
// //
// // }
//
// h1,
// h2,
// h3,
// {
//   text-align: center;
//   padding: 5px;
//   font-family: 'Pacifico';
//   color: black;
// }
//
// p{
//   color: black;
// }
// .atags {
//   text-align: center;
//   padding-bottom: 10px;
// }
// .box-register{
//       border: 11px solid #dbe9d8;
// }
// .box {
//   // background: red;
//   // // transform: translate(300%, 80%);
//   // height:250px;
//   // width: 20%;
//   // display: inline-block;
//   // float:right;
//
//   border: 10px solid #dbe9d8;
//   // background: #f2efe8;
//   // padding: 20px;
// }
//
// .cities{
//   margin-top: 100px;
// }
//
// .city {
//   // background: red;
//   margin-top: 10%;
//   // transform: translate(25%, -60%);
//   // padding: 50px;
//   letter-spacing: 1px;
//   text-transform: uppercase;
//   font-weight: bold;
//   font-size: 16px;
//   height: auto;
//
//   color: blue;
//
// }
// .profile {
//     // background: red;
//     margin-top: 10%;
//     // transform: translate(25%, -60%);
//     // padding: 50px;
//     letter-spacing: 1px;
//     text-transform: uppercase;
//     font-weight: bold;
//     font-size: 16px;
//     height: auto;
//     width: 70%;
//     color: blue;
//
// }
//
//
// #map {
//   width: 70%;
//   height: 500px;
//   // transform: translate(5%, 30%);
//   display:inline-block;
//
// }
//
// header {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   z-index: 2;
//   height: 70px;
//   background: #b0aac2;
//
//   nav {
//     ul {
//       list-style: none;
//       padding: 0;
//       margin: 0;
//
//       li {
//         display: inline-block;
//         float: right;
//         margin-left: 20px;
//         line-height: 50px;
//         &:last-of-type {
//           margin-left: 0;
//
//         }
//         a {
//           color: white;
//           letter-spacing: 1px;
//           text-transform: uppercase;
//           font-weight: bold;
//         }
//       }
//     }
//   }
// }
//
//
//
// footer {
//   background-color:#b0aac2;
//   padding: 10px 0;
//   text-align: center;
//   color: white;
//   position: fixed;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }
