<main>
  <div class="container">
    <form method="POST" action="/users/<%= user.id %>">
      <input type="hidden" name="_method" value="PUT">
      <div>
        <label for="username">name</label>
        <input type="text" name="username" id="username" value="<%= user.username %>">
      </div>

      <div>
        <label for="age">age</label>
        <input type="text" name="age" id="age" value="<%= user.age %>">
      </div>

      <div>
        <label for="location">location</label>
        <input type="text" name="location" id="location" value="<%= user.location %>">
      </div>


      <button>Update</button>
    </form>
  </div>
</main>
