<form method="POST" action="/users">
  <input type="hidden" name="_method" value="PUT">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
  </div>

  <div>
    <label for="Location">Location</label>
    <input type="text" name="Location" id="Location">
  </div>


  <div>
    <label for="age">age</label>
    <input type="text" name="age" id="age">
  </div>

  <%# <div>
    <label for="about me">about me</label>
    <textarea name="about me"></textarea>
  </div>%>

  <button>Update!</button>
</form>
