<ul>
  <% users.forEach((user) => { %>
    <li>
      <h1> starting page after login</h1>
      <h1><%= user.username %></h1>
    <button>Check out locations!</button>
    <button>Go to profile</button>
    
    </li>
  <% }); %>
</ul>
