<div class="container-fluid">

 <div class="row">
       <% user.images.forEach((image) => { %>
     <div class="col-sm-4"
     <img class ="user-img" src="<%= image.src %>" alt="<%= image.caption %>">
     <p class="img-caption"><%= image.caption %></p>
   <% }) %>
 </div>
 </div>
